@import '../../index.scss';


.heroContainer {
    @apply 
    w-full 
    flex 
    xl:flex-row 
    flex-col 
    justify-center 
    min-h-screen 
    gap-10 
    border-2 
    border-red-500 
    max-container
}

.heroContent {
    @apply 
    relative 
    flex 
    flex-col 
    justify-center 
    items-start 
    w-full 
    pt-28
    border-2
    xl:w-2/5
    max-xl:padding-x
}

