@import '../../index.scss';


.heroContainer {
    @apply 
    w-full 
    flex 
    xl:flex-row 
    flex-col 
    justify-center 
    min-h-screen 
    gap-10 
    border-2 
    border-red-500 
    max-container
  
    max-xl:padding-x
}

.heroContent {
    @apply 
    relative 
    flex 
    flex-col 
    justify-center 
    items-start 
    w-full 
    pt-28
    border-2
    xl:w-2/5
    max-xl:padding-x
}

.statistics {
    @apply
    flex
    justify-start
    items-start
    flex-wrap
    w-full
    mt-20
    gap-16
    border-2
    border-blue-700
}

.summerCollection {
    @apply
    text-xl
    font-montserrat
    text-coral-red
}

.h1Container {
    @apply
    mt-10
    font-palanquin
    text-8xl
    max-sm:text-[72px]
    max-sm:leading-[82]
    font-bold
}

.theArrival {
    @apply
    xl:bg-white
    xl:whitespace-nowrap
    relative
    z-10
    pr-10
}

.nike {
    @apply
    text-coral-red
    inline-block
    mt-3
    px-4
}

.discover {
    @apply
    font-montserrat
    text-slate-gray
    text-lg
    leading-8
    mt-6
    mb-14
    sm:max-w-sm
}

.statValue {
    @apply
    text-4xl
    font-palanquin
    font-bold
}

.statLabel {
    @apply
    leading-7
    font-montserrat
    text-slate-gray
}

.imgContainer {
    @apply
    relative
    flex-1
    flex 
    justify-center
    items-center
    xl:min-h-screen 
    max-xl:py-40
    bg-primary
    bg-hero
    bg-cover 
    bg-center
}

.shoeImg {
    @apply
    object-contain
    relative
    z-10
}

.shoeCardContainer {
    @apply
    flex
    sm:gap-6
    gap-4
    absolute
    -bottom-[5%]
    sm:left-[10%]
}

